<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" id="viewport" content="initial-scale=1.0,user-scalable=no">
    <script src="javascript/json2.js" type="text/javascript"></script>
    <script src="javascript/phonegap.js" type="text/javascript"></script>
    <script type="text/javascript">

      function init() {
        document.getElementById('window.device.platform').innerHTML = 'window.device.platform = ' + window.device.platform;
        document.getElementById('window.device.version').innerHTML  = 'window.device.version  = ' + window.device.version;
        document.getElementById('window.device.uuid').innerHTML     = 'window.device.uuid     = ' + window.device.uuid;
        document.getElementById('window.device.phonegap').innerHTML = 'window.device.phonegap = ' + window.device.phonegap;

        navigator.network.isReachable("phonegap.com", function(reachability) {
          var states = {};
          states[NetworkStatus.NOT_REACHABLE]                      = 'No network connection';
          states[NetworkStatus.REACHABLE_VIA_CARRIER_DATA_NETWORK] = 'Carrier data connection';
          states[NetworkStatus.REACHABLE_VIA_WIFI_NETWORK]         = 'WiFi connection';

          document.getElementById('networkStatus').innerHTML = 'isReachable = ' + states[reachability];
        }, 
        { isIpAddress: false });        
      }

      function callBeep() {
        navigator.notification.beep(2);
      }

      function callVibrate() {
        navigator.notification.vibrate(1000);
      }
      
      function callAlert() {
      	navigator.notification.alert("You rock!", "Woohoo!", "Thanks");
      }
      
      function onCapturePhotoSuccess(imageData) {
     	if (imageData != null) {
          var smallImage = document.getElementById('cameraImage');

          // Unhide image elements
          smallImage.style.display = 'block';

          // Show the captured photo
          // The inline CSS rules are used to resize the image
          smallImage.src = "data:image/jpeg;base64," + imageData;
      	}
      }

      function onCapturePhotoURISuccess(imageURI) {
        if (imageURI != null) {
          console.log('Camera image=' + imageURI);        
          var smallImage = document.getElementById('cameraImage');

          // Unhide image elements
          smallImage.style.display = 'block';

          // Show the captured photo
          // The inline CSS rules are used to resize the image
          smallImage.src = imageURI;
        }
      }
      
      function fail(error) {
      	alert(error);
      }
    
      function capturePhoto() {
      	navigator.camera.getPicture(onCapturePhotoSuccess, fail, 
      	  { destinationType: Camera.DestinationType.DATA_URL, quality: 50 });
      }

      function capturePhotoURI() {
        navigator.camera.getPicture(onCapturePhotoURISuccess, fail, 
          { destinationType: Camera.DestinationType.FILE_URI, quality: 50 });
      }
      
    </script>
    <title>Insert title here</title>
  </head>
  <body onload="init()">
    <h3>window.device</h3>
    <p id="window.device.platform">[window.device.platform]</p>
    <p id="window.device.version">[window.device.version]</p>
    <p id="window.device.uuid">[window.device.uuid]</p>
    <p id="window.device.phonegap">[window.device.phonegap]</p>
    <h3>window.notification</h3>
    <input type="button" value="Beep" onclick="callBeep();return false;" />
    <input type="button" value="Vibrate" onclick="callVibrate();return false;" />
    <input type="button" value="Alert" onclick="callAlert();return false;" />
    
    <h3>navigator.network</h3>
    <p id="networkStatus">[navigator.network.isReachable]</p>
    
    <h3>navigator.camera</h3>
    <input type="button" value="Get Photo (Data)" onclick="capturePhoto();return false;" /> 
    <input type="button" value="Get Photo (URI)" onclick="capturePhotoURI();return false;" /> 
    <img style="display:none;width:120px;height:120px;" id="cameraImage" src="" />

  </body>
</html>
