<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:rim="http://www.blackberry.com/ns/widgets" version="1.0.0.0">
  <name>%PLACEHOLDER%</name>
  <feature id="phonegap" required="false" version="1.0.0"/>
  <feature id="blackberry.system" required="true" version="1.0.0.0"/>
  <content src="index.html"/>
