# OS X

.DS_Store
tags

# Eclipse

deliverables/
.preprocessed/

# Text Editor Tmp

._*

# Generated libraries

build/
dist/
bin/node_modules
bin/templates/project/lib
bin/templates/project/cordova/lib/utils.js
bin/templates/project/cordova/lib/signing-utils.js
example/
node_modules/
.tmp
