# OS X

.DS_Store
tags

# Eclipse

deliverables/
.preprocessed/

# Text Editor Tmp

._*

# Generated libraries

build/
dist/
bin/templates/project/lib
bin/templates/project/cordova/lib/utils.js
example/
.tmp
